.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.hovered{

background-color: #6c92dd;
}

.table{
border: solid black 1px;
border-collapse: collapse;
background-color: #b3daef;
}

.table td{
  width: 250px;
  border: solid black 1px;
}

input{
 width: 250px; 
 background-color: #b3daef;
}

button{
  float: right;
}

.hidden{
  display: none;
}

.table tr td:nth-child(3) {
    width: 100px;
}

a{
  margin-left: 20px;
}

.rebuilt-table{
  margin-top: 50px;
  float: right;
  border: solid black 1px;
border-collapse: collapse;
background-color: #b3daef;
width: 300px;

}

.rebuilt-table td{
  width: 250px;
  border: solid black 1px;
}