body {
  font-family: sans-serif;
}

.table, .rebuilt-table, .saved-table{
  border: solid black 1px;
  border-collapse: collapse;
}

.table{
  background-color: #BF616A;
}

.table td{
  width: 150px;
  border: solid black 1px;
}

.table tr td:nth-child(3) {
  width: 100px;
}

.rebuilt-table{
  width: 300px;
  background-color: #D08770;

}

.rebuilt-table td, .saved-table td{
  border: solid black 1px;
}

.rebuilt-table tr:first-child{
  width: 10px;
}

.saved-table{
  width: 300px;
  background-color: #EBCB8B;
}

input[type="checkbox"]{
  width: 10px;
}

input[type="text"]{
 width: 150px; 
 background-color: #BF616A;
 float: left;
}

/* .add-button{
  float: 'left';
} */

button{
  float: right;
}



a{
  margin-left: 20px;
}

.hovered{
  background-color: #B48EAD;
}

